# Ignore node_modules in both frontend and backend
client/node_modules/
server/node_modules/

# Ignore .env files
client/.env
server/.env
**/.env


# Optional: macOS and build folders
.DS_Store
client/dist/
client/build/
server/dist/
